const config = {
  NETSTATS_API_URL: 'http://127.0.0.1:3030',
  DS_URL: '127.0.0.1:6020',
  DS_USER: 'frontend',
  DS_PASS: '',
  DS_NAMESPACE: 'ethstats/',
  EXPLORER_URL: '',
  PRIVACY_POLICY: false,
  AVG_GAS_PRICE_ENABLED: true,
  NETWORK_ALGO: 'ethash',
  GOOGLE_ANALYTICS_ID: null,
  HOTJAR_ID: null
};
