//@font-face {
//  font-family: 'HelveticaNeue';
//  src: url('fonts/HelveticaNeue.eot'),
//  url('fonts/HelveticaNeue.woff2') format('woff2'),
//  url('fonts/HelveticaNeue.woff') format('woff'),
//  url('fonts/HelveticaNeue.ttf')  format('truetype')
//}


@font-face {
  font-family: 'ArialMonospacedMT';
  src: url('fonts/ArialMonospacedMT.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialMonospacedMT';
  src:  url('fonts/ArialMonospacedMT.woff') format('woff'),
  url('fonts/ArialMonospacedMT.ttf')  format('truetype'),
  url('fonts/ArialMonospacedMT.svg#ArialMonospacedMT') format('svg');
  font-weight: normal;
  font-style: normal;
}
